body::before{
    display: block;
    content: "";
    height: 60px;
}
#instructors img{
    width: 128px;
    height: 128px;
}
#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
